
@{
    ViewBag.Title = "Download";
}

<div class="mt-4">
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Sorry for the Inconvenience</h4>
        <p>No Downloads available. We'll fix this problem shortly</p>
        <hr>
        <p class="mb-0">Thank You for the Co-Operation</p>
    </div>
</div>

